$main-color: #000000;
$main-invert-color: #ffffff;
$advanced-color: #8c8c8c;
$footer-color: #545454;

$accent-color: #ff6b08;
// $accent-bg-color: #ff6b01;

$main-bg-color: #e5e5e5;
$bg-footer-color: #f7f7f7;

$accent-current: #ff001b;