<!-- <button class="authBtn authBtn-visible" id="authBtn">
  <svg class="authBtn__icon" width="17" height="17">
    <use href="images/key.svg"></use>
  </svg>
</button> -->

<form id="registration-form">
  <label>
    Name
    <input type="text" name="name" id="registration-form-name" />
  </label>
  <label>
    Email
    <input type="email" name="email" id="registration-form-email" />
  </label>
  <label>
    Password
    <input type="password" name="password" id="registration-form-password" />
  </label>
  <button type="submit" id="registration-submit">Submit</button>
</form>

<form id="autorize-form">
  <label>
    Email
    <input type="email" name="email" id="autorize-form-email" />
  </label>
  <label>
    Password
    <input type="password" name="password" id="autorize-form-password" />
  </label>
  <button type="submit" id="autorize-submit">Submit</button>
</form>

<button type="button" id="logout-btn">Logout</button>
