<header class="header header-mylibrary">
  <div class="container header__container">
    <nav class="header-nav container__header-nav">
      <a href="./index.html" class="logo">
        <img src="./img/film.svg" alt="Icon logo" width="24" height="24" />
        <!-- <svg class="logo__icon">
          <use href="./img/film.svg"></use>
        </svg> -->
        <span class="logo__label">Filmoteka</span>
      </a>
      <ul class="header-nav__end">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link">HOME</a>
        </li>
        <li class="header-nav__item">
          <a href="./mylibrary.html" class="header-nav__link header-nav__link--current-header">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

<div class="header-button__wrapper">
  <button type="button" class="header-movie__button is-active" data-id="watched-btn">watched</button>
  <button type="button" class="header-movie__button" data-id="queue-btn">queue</button>
</div>
  </div>
  <script type="module" src="./js/active-btn.js"></script>
</header>