<header class="header header-index">
  <div class="container header__container">
    <div class="logo-auth">
      <a href="./index.html" class="logo">
        <img src="./img/film.svg" alt="Icon logo" width="24" height="24" />
        <!-- <svg class="logo__icon">
            <use href="./img/film.svg"></use>
          </svg> -->
        <span class="logo__label">Filmoteka</span>
      </a>
      <ul class="login-container">
        <li class="welcome">
          <p></p>
        </li>
        <li class="">
          <svg class="open-modal-svg logout visually-hidden" id="logout">
            <use href="./img/door-exit.svg#log-out"></use>
          </svg>
        </li>
        <li>
          <svg class="open-modal-svg login login-btn" id="login">
            <use href="./img/login.svg#icon-user"></use>
          </svg>
        </li>
      </ul>
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="header-nav__item">
            <a href="./index.html" class="header-nav__link header-nav__link--current-header">
              HOME
            </a>
          </li>
          <li class="header-nav__item">
            <a href="./mylibrary.html" class="header-nav__link">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- <div class="hero-home"> -->
    <form class="hero-home__form" name="hero-home" role="search">
      <input
        class="form_input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />

      <button class="form_search-button" aria-label="search" type="submit">
        <img src="./img/search.svg" alt="Icon search" width="20" height="20" />
        <!-- <svg class="form_search-icon" width="12" height="12">
            <use href="./img/search.svg"></use>
          </svg> -->
      </button>
      <div class="search-result scroll-bar-style"></div>
    </form>
    <!-- </div> -->
    <p class="fail-search is-hidden">
      Search result not successful. Enter the correct movie name and try again
    </p>
    <!-- перекльчатель на темную тему -->
    <div class="toggle">
      <input class="toggle-input" type="checkbox" />
      <div class="toggle-bg"></div>
      <div class="toggle-switch">
        <div class="toggle-switch-figure"></div>
        <div class="toggle-switch-figureAlt"></div>
      </div>
    </div>
  </div>
</header>
