<div class="backdrop" data-modal>
  <div class="modal-registr">
    <!-- <button type="button" class="modal-regist-close-btn">
    <svg class="svg">
      <use href=""></use>
    </svg>
  </button> -->
    <p class="modal-registr-title">Welcome to Filmoteka</p>
    <form>
      <div class="modal-registr-wrap">
        <input
          type="text"
          name="user-password"
          id="user-password"
          class="modal-registr-input"
          placeholder="Password"
          minlength="2"
          pattern="^[a-zA-Z]+"
          required
        />
        <input
          type="email"
          name="user-email"
          id="user-email"
          class="modal-registr-input"
          placeholder="Email"
          required
        />
      </div>
      <button type="submit" class="modal-registr-btn-sbmt">Log in</button>
      <p class="modal-registr-signup">
        No account yet? <a href="" class="modal-registr-ref">Sign up</a>
      </p>
    </form>
  </div>

  <div class="modal-registr modal-singup">
    <p class="modal-registr-title">Sing up to Filmoteka</p>
    <form>
      <div class="modal-registr-wrap">
        <input
          type="text"
          name="user-password"
          id="user-password"
          class="modal-registr-input"
          placeholder="Password"
          minlength="2"
          pattern="^[a-zA-Z]+"
          required
        />
        <input
          type="email"
          name="user-email"
          id="user-email"
          class="modal-registr-input"
          placeholder="Email"
          required
        />
      </div>
      <button type="submit" class="modal-registr-btn-sbmt">Sign up</button>
      <p class="modal-registr-signup">
        Already have an account? <a href="" class="modal-registr-ref">Log in</a>
      </p>
    </form>
  </div>
</div>
