<div class="spinner-container">
<div class="spinner">
    <div class="spinner__item">
      <div class="spinner__circle"></div>
    </div>
    <div class="spinner__item">
      <div class="spinner__circle"></div>
    </div>
  </div>
</div>

  <div class="wrapper">
    <div class="toggle">
      <input class="toggle-input" type="checkbox" />
      <div class="toggle-bg"></div>
      <div class="toggle-switch">
        <div class="toggle-switch-figure"></div>
        <div class="toggle-switch-figureAlt"></div>
      </div>  
    </div>
  </div>