// .basicLightbox.film-modal {
//   filter: blur(8px);
//   backdrop-filter: blur(8px);
// }

.modal {
  position: relative;
  background-color: $main-invert-color;
  color: $main-color;

  max-height: 100vh;
  width: 100%;
  padding: 48px 20px 40px 20px;

  @include mq(mobile-only) {
    max-width: 480px;
    overflow: scroll;
  }

  @include mq(tablet-only) {
    display: flex;
    margin: auto;
    width: 100%;
    height: 552px;
    padding: 40px 36px 40px 36px;
  }

  @include mq(desktop) {
    display: flex;
    max-width: 806px;
    height: 558px;
    padding: 40px 12px 40px 12px;
  }
}

.mobalClose__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 8px;
  background-color: transparent;
  border: 0;
  background-image: url(/src/img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all ease 250ms;

  &:hover,
  &:focus {
    background-color: rgba(255, 107, 8, 0.7);
    border-radius: 50%;
  }
}

.image {
  display: block;
  min-width: 240px;
  border-radius: 5px;

  @include mq(mobile-only) {
    margin-bottom: 30px;
  }

  @include mq(tablet-only) {
    max-width: 264px;
    height: 374px;
  }

  @include mq(desktop) {
    max-width: 375px;
    height: 478px;
  }
}

.movie__image {
  @include mq(tablet) {
    margin-right: 68px;
  }

  @include mq(desktop) {
    margin-right: 16px;
  }
}

.movie__information {
  text-align: start;

  @include mq(tablet) {
    width: 264px;
  }

  @include mq(desktop) {
    width: 391px;
  }
}

.movie__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie__item {
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;

  &:last-child {
    margin-bottom: 20px;
  }
}

.movie__details {
  color: $advanced-color;
  line-height: 1.33;
  min-width: 108px;
  margin-right: 25px;
}

.movie__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.movie__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: $main-invert-color;
  background-color: $accent-color;
  border-radius: 5px;
}

.movie__rating--delimiter {
  margin-right: 3px;
}

.vote-count {
  background-color: #f7f7f7;

  border-radius: 5px;
  width: 36px;
  padding-left: 10px;
  padding-right: 10px;
}

.about__title {
  text-transform: uppercase;

  margin-bottom: 8px;
}

.about__text {
  line-height: 1.67;
  font-weight: 500;
  margin-bottom: 20px;
  max-height: 100px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    background: rgb(241, 244, 246);
  }

  &::-webkit-scrollbar-thumb {
    background: #ff6b08;
    border-radius: 20px;
  }
}

.button__wrapper {
  display: flex;
}

.movie__button {
  width: 110px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $main-invert-color;
  cursor: pointer;
  border: 1px solid $main-color;
  transition: background-color 300ms linear, border 300ms linear, color 300ms linear, box-shadow 300ms linear, border-width 300ms linear;

  &.active {
    background: #ff6b08;
    box-shadow: inset 20px 20px 60px #f46100,
      inset -30px -30px 60px #fafafa;
    // inset 20px 20px 60px #ce5707,
    //   inset -20px -20px 60px #fe7d0b;
    border: 4px solid #ff6b08;
    // transition: box-shadow 300ms linear;
  }

  &:hover:not(.active),
  &:focus:not(.active) {
    background-color: $accent-color;
    color: $main-invert-color;
    box-shadow:
      inset 20px 20px 60px #ff9841,
      inset -20px -20px 60px #d55601,
      5px 5px 10px #acacac,
      -5px -5px 10px #fcfcfc;
    // border: 1px solid $accent-color;

    border: 1px solid #ff6906;
    //   box-shadow: 5px 5px 10px #acacac,
    //     -5px -5px 10px #fcfcfc;
  }

  &.active:hover {
    background: #ff6b08;
    box-shadow: inset 20px 20px 60px #ff9841,
      inset -20px -20px 60px #d55601,
      5px 5px 10px #acacac,
      -5px -5px 10px #fcfcfc;
    //dark theme
    // box-shadow: inset 20px 20px 60px #d95b07,
    //     inset -20px -20px 60px #ff7b09, 5px 5px 10px #acacac,
    //     -5px -5px 10px #fcfcfc;
  }

  @include mq(tablet-only) {
    width: 125px;
  }

  @include mq(desktop) {
    width: 136px;
  }
}

.movie__button:first-child {
  margin-right: 15px;
}

.trailer__button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 0;
  width: 120px;
  height: 20px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include mq(tablet-only) {
    width: 125px;
  }

  @include mq(desktop) {
    width: 140px;
  }
}

.play__icon {
  display: inline;
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.active {
  background-color: $accent-color;
  color: $main-invert-color;
  border: 1px solid $accent-color;
}