.backdrop{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.backdrop .is-hidden .modal-registr {
    transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-registr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;

    transform: translate(-50%, -50%) scale(1);

    background: #ffffff;
    border-radius: 4px;
    padding: 40px;
    // background-image: url(/src/img/header-mobile-v2@x-min.jpg);
    // background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    background-image: url(/src/img/header-tablet-v2@1x-min.jpg);
    background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    @include mq(retina){
background-image: url(/src/img/header-tablet-v2@2x-min.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
}

.modal-registr-title{
    font-family: inherit;
    text-align: center;
    text-transform: uppercase;
    @include font(12px, 500, 1.3);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
    color: #fff;
}

.modal-registr-input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 8px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
        border-bottom: 1px solid #FF6B08;
        transform: scale(1.02);
    }
    &:not(:placeholder-shown):required:valid {
        border-bottom: 1px solid #32CD32;
    }

    &:not(:placeholder-shown):required:invalid {
        border-bottom: 1px solid #ff0000;
    }
}

.modal-registr-btn-sbmt{
    display: flex;
    margin: auto;
    width: 100%;
    padding: 14px 8px;
    margin-bottom: 10px;

    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;

    border: 1px solid #fff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #FF6B08;
        border: 1px solid #FF6B08;
        color: #ffffff;
        transform: scale(1.02);
    }
}

.modal-registr-signup{
    text-align: center;
    color: #fff;
}

.modal-registr-ref{
    text-decoration: underline;
    color: #FF6B08;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .modal-registr {
        width: 450px;
    }
}

@include mq(desktop) {
    .modal-registr {
        width: 550px;

    //     background-image: url(/src/img/header-desktop-v2@1x-min.jpg);
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
        
    // @include mq(retina) {
    //     background-image: url(/src/img/header-desktop-v2@2x-min.jpg);
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
    }
    .modal-registr-title{
        font-size: 25px;
    }
}