.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal-registr {
    width: 100%;
    background-color: #ffffff;
    // color: $advanced-color;
    border-radius: 4px;
    padding: 40px;
    background-image: url(/src/img/header-mobile-v2@x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/src/img/header-tablet-v2@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(retina) {
        background-image: url(/src/img/header-tablet-v2@2x-min.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.modal-registr-title {
    font-family: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
    color: #fff;
}

.modal-regist-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 0;
    stroke: #fff;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        stroke: #FF6B08;
        transform: scale(1.1)
    }
}

.modal-regist-close-svg {
    width: 30px;
    height: 30px;
}



.modal-registr-input {
    display: flex;
    width: 100%;
    padding: 14px 8px;
    padding-bottom: 10px;
    border: none;
    font-size: 14px;
    background-color: transparent;
    background-image: filter blur(4px);
    border-bottom: 1px solid $advanced-color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 50px;
    }

    &:hover,
    &:focus {
        outline: none;
        border-bottom: 1px solid #FF6B08;
    }

    &::placeholder {
        color: $advanced-color;
        font-size: 14px;
        ;
    }

    &:not(:placeholder-shown):required:valid {
        border-bottom: 1px solid #32CD32;
    }

    &:not(:placeholder-shown):required:invalid {
        border-bottom: 1px solid #ff0000;
    }

    &:not(:placeholder-shown) {
        color: #fff;
    }
}

.modal-registr-btn-sbmt {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 14px 8px;
    margin-bottom: 10px;

    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;

    border: 1px solid #fff;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #FF6B08;
        border: 1px solid #FF6B08;
        color: #ffffff;
        transform: scale(1.02);
    }
}

.modal-registr-signup {
    text-align: center;
    color: #fff;
}

.modal-registr-btn {
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: underline;
    color: #FF6B08;
    cursor: pointer;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 480px) {
    .modal-registr {
        width: 450px;
    }
}

@include mq(desktop) {
    .modal-registr {
        width: 550px;

        // background-image: url(/src/img/header-desktop-v2@1x-min.jpg);
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;

        // @include mq(retina) {
        //     background-image: url(/src/img/header-desktop-v2@2x-min.jpg);
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     background-size: cover;
        // }
    }

    .modal-registr-title {
        font-size: 25px;
    }
}