.scroll {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 20px;

  width: 40px;
  height: 40px;

  visibility: hidden;
  opacity: 0;

  font-size: 20px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  background-color: rgba(179, 33, 45, 0.9);

  transition: cubic-bezier(0.3, 0.6, 0.82, 0.75);
}

.scroll-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 0.7;

  animation-name: animation-btn;
  animation-duration: 500ms;
  animation-timing-function: linear;
  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
      background-color: $accent-color;
    }
  }
  @media (hover: none) {
    &:active {
      transform: scale(1.1);
      background-color: $accent-color;
    }
  }
}
// &:active,
// &:hover {
//   transform: scale(1.1);
//   background-color: $accent-color;
//   .clicked {
//     background-color: rgba(179, 33, 45, 0.89);
//   }
// }

.scroll__icon {
  transform: rotate(-90deg);
}

