@import '../components/team-modal';

.footer {
  padding: 29px 36px 30px 48px;
  background-color: $bg-footer-color;

  &-content {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    color: $footer-color;

    @include mq(mobile-only) {
      font-size: 14px;
      line-height: 1.47;
    }
  }

  &-btn {
    border-style: none;
    background-color: transparent;
    color: $footer-color;
    padding: 0;
    text-decoration-line: underline;
  }

  &-btn:hover,
  &-btn:focus {
    color: $accent-color;
  }

  @include mq(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include mq(desktop) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.heart {
  width: 14px;
  height: 12px;
  display: inline-block;
  animation: heartBit 0.5s infinite;
}

@keyframes heartBit {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
